<div class="row">
  <div class="twelve columns">
    <nav>
      <a href="/"><img class="nav-bar" src="/rsc/pokedexLogo.png" alt="Pokedex Home" width="180" height="60"/></a>

      <div class="nav-bar" id="nav-btns">
        <% if(locals.index && index){ %>
        <button
          class="nav-btn"
          type="button"
          onClick="listPokemons('<%= userId %>')"
        >
          Listar Pokemones
        </button>
        <% if(userName){ %>
        <button
          type="button"
          onClick="listFavourites('<%= userId %>')"
          class="nav-btn"
          style="margin-right: 30em;"
        >
          Listar Favoritos
        </button>
        <% } %> <% } %> <% if(!userName){ %>
        <a class="link-1" href="/auth/register">Registrarse</a>
        <a class="link-1" href="/auth/login">Iniciar Sesión</a>
        <% } %> <% if(userName){ %>
        <p id="userdata" data-userid="<%= userId %>"><strong><%= userName %></strong></p>
        <a class="link-2" href="/auth/logout">Cerrar Sesión</a>
        <% } %>
      </div>
    </nav>
  </div>
</div>
