<!DOCTYPE html>
<html lang="es">
  <%- include("layouts/header.ejs"); -%>

  <body>
    <div class="container">
      <%- include("layouts/navbar.ejs"); -%>
      <div class="row">
        <div class="eight columns">
          <div class="box" id="pokemonResults"></div>
        </div>

        <div class="four columns sticky-search">
          <div>
            <form onSubmit="formData(event)">
              <label for="pokemonName">Ingrese el nombre del pokemon</label
              ><input type="text" id="pokemonName" required="required" />
              <div>
                <button type="submit">Consultar</button>
              </div>
            </form>
          </div>
          <div class="box" id="pokemonSearchResult"></div>
          <div>
            <button
              type="button"
              class="btnSave"
              id="savePokemon"
              onClick="saveSelectedPokemon()"
            >
              Guardar Pokemon Seleccionado
            </button>
            <button
              type="button"
              class="btnSave"
              id="saveFavourites"
              onClick="saveFavourites()"
            >
              Guardar Pokemones Seleccionados
            </button>
            <button
              type="button"
              class="btnSave"
              id="saveChanges"
              onClick="saveChanges()"
            >
              Guardar Cambios
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="/src/app.js"></script>
  </body>
</html>
