<!DOCTYPE html>
<html lang="es">
  <%- include("layouts/header.ejs"); -%>

  <body>
    <div class="container">
      <%- include("layouts/navbar.ejs"); -%>
      <div class="row">
        <div class="eight columns"></div>
        <div class="four columns">
          <form action="/user/login" method="post">
            <div>
              <label for="">Usuario</label
              ><input type="text" name="username" id="username" required/>
              <% if(locals.param === "username"){ %>  
              <p><%= locals.msg %></p>
              <% } %>
            </div>
            <div>
              <label for="">Contraseña</label
              ><input type="password" name="password" id="password" required/>
              <% if(locals.param === "password"){ %>  
              <p><%= locals.msg %></p>
              <% } %>
            </div>
            <button class="button-primary" type="submit">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
